* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    /*outline: 1px solid red;*/
}

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.game {
    display: grid;
    grid-template-columns: 1fr 275px;
    height: 100%;
    background: #371c4a;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding: 1em;
}


aside {
    background: #270d3a;
    padding: 1em;
    justify-content: space-between;
}

.aside-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.aside-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

aside .button, #multiplier-button {
    padding: 0.75em 1.25em;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    color: white;
    position: relative;
    overflow: hidden;
}

    aside .button:active, #multiplier-button:active {
        box-shadow: inset 5px 5px 15px gray, inset -5px -5px 15px gray !important;
        transform: scale(0.95)
    }

    aside .button:hover, #multiplier-button:hover {
        background: white;
        border: 2px solid rgb(100, 100, 100);
        color: black;
        box-shadow: inset 3px 3px 8px gray, inset -3px -3px 8px gray;
    }

        aside .button:hover .upgrade {
            border-left: 2px solid black;
            transition: all 0.45s ease-in-out;
        }

aside .upgrade {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    border-left: 2px solid white;
    padding-left: 0.15em;
}

aside .upgrade-text, #multiplier-button .upgrade-text {
    transition: all 0.3s ease-in-out;
}

aside .upgrade-cost, #multiplier-button .upgrade-cost {
    position: absolute;
    bottom: -50px;
    transition: all 0.3s ease-in-out;
}

aside .button:hover .upgrade-text, #multiplier-button:hover .upgrade-text {
    transform: translateY(-60px);
}

aside .button:hover .upgrade-cost, #multiplier-button:hover .upgrade-cost {
    transform: translateY(-60px);
}


aside .reset p:nth-child(1) {
    transition: all 0.3s ease-in-out;
}

aside .reset:hover {
    background: red;
    color: white;
    border: 2px solid white;
    box-shadow: none;
}

aside .reset:active {
    box-shadow: none !important;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.main-container {
    margin-top: 5em;
}

.main-container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: space-around;
    height: 100%;
}

    .main-container img {
        width: 250px;
        cursor: pointer;
        display: block;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
    }
        /*  .main-container img:hover {
            transform: scale(1.05);
        }*/
        .main-container img:active {
            transform: scale(0.95);
        }

.cookie-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

    .cookie-container center {
        display: flex;
        gap: 1em;
        justify-content: center;
    }

        .cookie-container center:nth-child(2) {
            transform: translateY(-5px);
        }

    .cookie-container h1 {
        display: inline-block;
    }

    .cookie-container span {
        font-size: 2em;
        font-weight: bold;
    }

    .cookie-container div:nth-child(2) {
        animation: rotation 60s infinite linear;
    }

    .cookie-container #random-cookie-window {
        position: absolute;
        width: 100%;
        height: 238px;
        border-radius: 50%;
        z-index: 10;
        top: calc(57px + 200px);
        transform: translateY(-50%);
        animation: none;
        pointer-events: none;
    }

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

    .button-container .button {
        padding: 0.75em 1.25em;
        border: 2px solid white;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
    }

        .button-container .button:hover {
            background: white;
            border: 2px solid rgba(100, 100, 100);
            color: black;
            box-shadow: inset 3px 3px 8px gray, inset -3px -3px 8px gray;
        }

        .button-container .button:active {
            transform: scale(0.95);
        }

.error-container {
    position: absolute;
    left: 20px;
    top: 1.5em;
    display: flex;
    height: 304px;
    overflow: hidden;
    justify-content: flex-start;
    flex-direction: column;
    pointer-events: none;
}

.pop-up {
    position: absolute;
    outline: 1px solid red;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 102;
    display: none;
}

    .pop-up .pop-up-card {
        width: 300px;
        padding: 0.75em 1em;
        background: white;
        border-radius: 10px;
        border: 2px solid black;
    }

.pop-up-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 0.75em;
}

.pop-up-card .card-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.75em;
}

    .pop-up-card .card-footer .card-button {
        padding: 0.5em 1em;
        border-radius: 10px;
    }

.confirm {
    background: #00c800;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.cancel {
    background: red;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.confirm:hover {
    background-color: #07b907;
}

.cancel:hover {
    background-color: #da0000;
}

.confirm:active {
    transform: scale(0.95);
}

.cancel:active {
    transform: scale(0.95);
}

.burger-menu {
    position: absolute;
    top: 2em;
    right: 2em;
    display: none;
    cursor: pointer;
}

@media (max-width:1440px) {
    aside {
        display: block;
    }
}

@media (min-width: 569px) {
    #close-menu {
        display: none;
    }

    aside {
        display: block;
    }
}

@media (max-width: 568px) {
    .game {
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    body {
        overflow: visible;
    }

    .container {
        scrollbar-track-color: red;
    }

    aside {
        position: absolute;
        width: 60%;
        height: 100%;
        background-color: #270d3a;
        z-index: 100;
        right: 0;
        display: none;
    }


    .burger-menu {
        display: block;
    }
}

@media (max-width: 480px) {
    aside {
        width: 75%;
    }

}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes error {
    from {
        top: -4em;
    }

    to {
        top: 1.5em;
    }
}

@keyframes floatingCookie {
    from {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(-65px);
        opacity: 0;
    }
}

@keyframes opacityFade {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bounce {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(0.95);
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}


/*@keyframes bounceback {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1.05);
    }
}*/
